#root {
  margin: auto;
}

/*Header component CSS*/
header {
  width: 100vw;
  margin-bottom: 0;
  padding: 22px 0;
  background-color: beige;
}

header > nav {
  display: flex;
}

header > nav > div {
  margin-left: 10px;
  margin-right: auto;
}

.logo {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  font-weight: 900;
}

.nav--link {
  text-decoration: none;
  margin: 0;
  margin-right: 10px;
  color: black;
  display: inline-flex;
  align-items: center;
  font-size: 1.3rem;
}

.nav--link:hover {
  color: rgb(128, 128, 128);
  text-decoration: underline;
}

/*MainContext component CSS*/

main {
  width: 100vw;
}

main > div {
  margin: auto;
  height: 79vh;
}

.home--page--container {
  align-items: center;
  background-image: url("/home_image_2.jpg");
  background-size: cover;
  color: white;
  display: flex;
  text-align: start;
  font-size: 1.5rem;
}

.home--element--container {
  margin: 0 20px;
}

.home--element--container > p {
  margin: 30px auto;
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.03rem;
}


.block {
  display: block;
}

.find--your--van--btn {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  background-color: rgb(255, 158, 78);
  border: none;
  border-radius: 5px;
  padding: 12px;
  width: 100%;
  letter-spacing: 0.03rem;
  cursor: pointer;
}

.find--your--van--btn:hover {
  background-color: rgb(252, 146, 60);
}

/*Footer component CSS*/

footer {
  width: 100vw;
  margin: 0;
}

footer > div {
  background-color: rgb(51, 51, 51);
  padding: 10px 0;
  color: rgb(135, 135, 135);
  margin: 0;
}

footer > div > p{
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}


.material-symbols-outlined {
  margin-right: 10px;
}

/*AboutContext component CSS*/

.about--page--container {
  margin: 0 auto;
  height: max-content;
  background-color: beige;
}

.about--page--image {
  width: 100%;
  height: 40%;
}

.about--page--subcontainer {
  padding: 10px 30px;
  padding-top: 0;
  text-align: start;
}

.about--page--subcontainer > p {
  margin-left: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
}

.bottom--box {
  margin: 20px 0;
  background-color: rgb(253, 183, 126);
  padding: 20px;
  border-radius: 5px;
}

.explore--vans--btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(23, 23, 23);
  color: white;
  font-weight: bold;
  letter-spacing: 0.03rem;
  cursor: pointer;
}

.explore--vans--btn:hover {
  background-color: rgb(34, 33, 33);
}

/*VansContext component CSS*/

.vans--page--container {
  background-color: beige;
  padding: 1px;
}

.van--elements--container {
  width: 100%;
  padding: 20%;
  padding-bottom: 0;
}

.vans--elemets--img {
  width: 100%;
  border-radius: 5px;
}

.vans--grid--container {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 30% 30% 30%;
  gap: 1% 4%;
  align-items: center;
}

.vans--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  font-weight: bold;
}

.vans--info > h3 {
  margin-top: 0;
}

.day--text {
  font-size: 0.6rem;
}

.van--type {
  display: flex;
  width: fit-content;
  justify-content: start;
  color: white;
  letter-spacing: 0.05rem;
  font-weight: bolder;
  font-size: 0.6rem;
  padding: 3px 5px;
  border-radius: 5px;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.luxury {
  background-color: rgb(45, 45, 45);
}

.simple {
  background-color: rgb(252, 146, 60);
}

.rugged {
  background-color: rgb(27, 103, 27);
}

.link--to--vandetails, .link--back--to--vans {
  text-decoration: none;
  color: black;
}

/*Van details page CSS /////////////////////////////////////////////*/

.van--details--page--global--container {
  background-color: beige;

}

.van--details--page--container {
  padding: 5%;
  display: flex;
  max-width: 900px;
  margin: auto;
}

.van--details--page > .van--type, .link--back--to--vans {
  margin-left: 5%;
}

.van--details--page {
  margin-bottom: 0;
}

.van--details--page > h1, p {
  width: fit-content;
  margin-left: 5%;
}

.van--details--page--name {
  width: fit-content;
  margin-left: 5%;
  margin-bottom: 0;
}
.van--details--page > p {
  margin-left: 6%;
}

.van--details--page--description {
  text-align: left;
  max-width: 90%;
}

.link--back--to--vans {
  display: flex;
  width: fit-content;
  font-size: 1.1rem;
}

.link--back--to--vans:hover {
  color: rgb(128, 128, 128);
  text-decoration: underline;
}

.van--details--page--image {
  width: 90%;
  border-radius: 5px;
  margin: 10px 0;
}

.van--details--page--price {
  font-weight: bold;
}

.rent--van--button {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  background-color: rgb(255, 158, 78);
  letter-spacing: 0.03rem;
  cursor: pointer;
}



@media (min-width: 450px) {

  .vans--info {
    font-size: 0.85rem;
  }

  .day--text {
    font-size: 0.65rem;
  }

  .van--type {
    font-size: 0.7rem;
  }

  .link--back--to--vans {
    font-size: 1.4rem;
  }

  .van--details--page--description {
    font-size: 1.4rem;
  }

  .rent--van--button {
    font-size: 1.3rem;
  }
}

@media (min-width: 600px) {
  .vans--info {
    font-size: 0.95rem;
  }
  .day--text {
    font-size: 0.75rem;
  }
  .van--type {
    font-size: 0.8rem;
  }
  .link--back--to--vans {
    font-size: 1.5rem;
  }

  .van--details--page--description {
    font-size: 1.5rem;
  }

  .rent--van--button {
    font-size: 1.4rem;
  }
}

@media (min-width: 900px){
  .home--page--container{
    text-align: center;
  }

  .home--element--container {
    margin: auto;
    width: 50%;
  }

  .about--page--image {
    position: relative;
  }

  .about--page--subcontainer {
    position: absolute;
    top: 160px;
    color: white;
    width: 40%;
  }

  .about--page--subcontainer > p {
    font-size: 1.2rem;
  }

  .logo {
    margin-left: 20px;
  }
  
  .vans--link {
    margin-right: 40px;
  }
  footer {
    margin-top: -5px;
  }
  
  .bottom--box {
    font-size: 1.5rem;
    margin: 30px 0;
  }

  .explore--vans--btn {
    font-size: 1rem;
  }


  .vans--info {
    font-size: 1.1rem;
  }
  .day--text {
    font-size: 0.95rem;
  }
  .van--type {
    font-size: 0.95rem;
  }

  .link--back--to--vans {
    font-size: 1.6rem;
  }

  .van--details--page--description {
    font-size: 1.6rem;
  }

  .rent--van--button {
    font-size: 1.6rem;
  }

  .vans--grid--container {
    gap: 1% 2%;
  }
  

}

@media (min-width: 950px) {
  .vans--info {
    font-size: 1.2rem;
  }
  .day--text {
    font-size: 0.98rem;
  }
  .van--type {
    font-size: 1rem;
  }
  .link--back--to--vans {
    font-size: 1.7rem;
  }

  .van--details--page--description {
    font-size: 1.7rem;
  }

  .rent--van--button {
    font-size: 1.6rem;
  }
}
