#root {
  margin: auto;
}


/*Header component CSS*/
header {
  width: 100vw;
  margin-bottom: 0;
  padding: 22px 0;
  background-color: beige;
}

header > nav {
  display: flex;
}

header > nav > div {
  margin-left: 10px;
  margin-right: auto;
}

.logo {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  font-weight: 900;
}

.nav--link {
  text-decoration: none;
  margin: 0;
  margin-right: 10px;
  color: black;
  display: inline-flex;
  align-items: center;
  font-size: 1.3rem;
}

.nav--link:hover {
  color: rgb(128, 128, 128);
  text-decoration: underline;
}

/*MainContext component CSS*/

main {
  width: 100vw;
}

main > div {
  margin: auto;
  height: 79vh;
}

.home--page--container {
  align-items: center;
  background-image: url("/home_image_2.jpg");
  background-size: cover;
  color: white;
  display: flex;
  text-align: start;
  font-size: 1.5rem;
}

.home--element--container {
  margin: 0 20px;
}

.home--element--container > p {
  margin: 30px auto;
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.03rem;
}


.block {
  display: block;
}

.find--your--van--btn {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  background-color: rgb(255, 158, 78);
  border: none;
  border-radius: 5px;
  padding: 12px;
  width: 100%;
  letter-spacing: 0.03rem;
  cursor: pointer;
}

.find--your--van--btn:hover {
  background-color: rgb(252, 146, 60);
}

/*Footer component CSS*/

footer {
  width: 100vw;
}

footer > div {
  background-color: rgb(51, 51, 51);
  padding: 10px 0;
  color: rgb(135, 135, 135);
  margin: 0;
}

footer > div > p{
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}


.material-symbols-outlined {
  margin-right: 10px;
}

/*AboutContext component CSS*/

.about--page--container {
  margin: 0 auto;
  height: max-content;
  background-color: beige;
}

.about--page--image {
  width: 100%;
  height: 40%;
}

.about--page--subcontainer {
  padding: 10px 30px;
  padding-top: 0;
  text-align: start;
}

.about--page--subcontainer > p {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
}

.bottom--box {
  margin: 20px 0;
  background-color: rgb(253, 183, 126);
  padding: 20px;
  border-radius: 5px;
}

.explore--vans--btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(23, 23, 23);
  color: white;
  font-weight: bold;
  letter-spacing: 0.03rem;
  cursor: pointer;
}

.explore--vans--btn:hover {
  background-color: rgb(34, 33, 33);
}

/*VansContext component CSS*/

.vans--page--container {
  background-color: beige;
  padding: 1px 0;
}

@media (min-width: 900px){
  .home--page--container{
    text-align: center;
  }

  .home--element--container {
    margin: auto;
    width: 50%;
  }

  .about--page--image {
    position: relative;
  }

  .about--page--subcontainer {
    position: absolute;
    top: 160px;
    color: white;
    width: 40%;
  }

  .about--page--subcontainer > p {
    font-size: 1.2rem;
  }

  .logo {
    margin-left: 20px;
  }
  
  .vans--link {
    margin-right: 40px;
  }
  footer {
    margin-top: -5px;
  }
  
  .bottom--box {
    font-size: 1.5rem;
    margin: 30px 0;
  }

  .explore--vans--btn {
    font-size: 1rem;
  }

}

