body {
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

